# Ignore system directories.
/.bundle
/.ruby-gemset

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore all runtime static files
/public/system

# Ignore tmp files.
*~
*#
.#*

# Ignore local settings.
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

# Ignore database config.
config/database.yml

# Ignore schema.
/db/schema.rb

# Ignore test coverage.
/coverage

# Ignore MacOs Finder
.DS_Store

# Ignore IDE files
.idea/

# Ignote Ctags
tags
TAGS

# Byebug history
/.byebug_history
