-#<p id="notice"><%= notice %></p>
-#
-#<h1>Listing Paintings</h1>
-#
-#<table>
-#  <thead>
-#    <tr>
-#      <th colspan="3"></th>
-#    </tr>
-#  </thead>
-#
-#  <tbody>
-#    <% @paintings.each do |painting| %>
-#      <tr>
-#        <td><%= link_to 'Show', painting %></td>
-#        <td><%= link_to 'Edit', edit_painting_path(painting) %></td>
-#        <td><%= link_to 'Destroy', painting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-#      </tr>
-#    <% end %>
-#  </tbody>
-#</table>
-#
-#table
-#
-#
-#<br>
-#
-#<%= form_for Painting.new do |f| %>

.h1 Paintings

= render @paintings

= form_for Painting.new do |f|
  = f.label :image, 'Upload paintings'
  = f.file_field :image
  = f.submit 'upload'
